Tuples are orders collections of items that are immutable . They are similar to lists, but thier immutability makes them different.

In [113]:
## creating a tuple

empty_tuple=()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [114]:
lst=list()
print(type(lst))
tpl=tuple()
print(type(tpl))

<class 'list'>
<class 'tuple'>

In [115]:
numbers=tuple([1,2,3,4,5,6])
numbers

(1, 2, 3, 4, 5, 6)

In [116]:
list((1,2,3,4,5,6))

[1, 2, 3, 4, 5, 6]

In [117]:
mixed_tuple=(1,"Hello World", 3.14, True)
print(mixed_tuple)

(1, 'Hello World', 3.14, True)

In [118]:
## Access Tuple Elements

numbers

(1, 2, 3, 4, 5, 6)

In [119]:
numbers[0]
print(numbers[2])
print(numbers[-1])

3
6

In [120]:
numbers[::-1]

(6, 5, 4, 3, 2, 1)

In [121]:
## Tuple Operations 

concatenation_tuple=numbers + mixed_tuple
print(concatenation_tuple)

(1, 2, 3, 4, 5, 6, 1, 'Hello World', 3.14, True)

In [122]:
mixed_tuple * 3

(1,
 'Hello World',
 3.14,
 True,
 1,
 'Hello World',
 3.14,
 True,
 1,
 'Hello World',
 3.14,
 True)

In [123]:
numbers * 3

(1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)

In [124]:
## Immutable nature of tuples

## Tuples are immutable, meaning thier elements cannot be changes once assigned. 


lst=[1,2,3,4,5]
print(lst)

lst[1]="Nachiket"
print(lst)

[1, 2, 3, 4, 5]
[1, 'Nachiket', 3, 4, 5]

In [125]:
numbers[1]="Rocky"

TypeError: 'tuple' object does not support item assignment

In [ ]:
numbers

(1, 2, 3, 4, 5, 6)

In [ ]:
## Tuple Method
print(numbers.count(1))

1

In [ ]:
## Tuple Methods 

print(numbers.count(1))
print(numbers.index(3))

1
2

In [ ]:
## Packing and unpacking tuple

packed_tuple=1,"Hello",3.14
print(packed_tuple)

(1, 'Hello', 3.14)

In [ ]:
## Unpacking a tuple 
a,b,c=packed_tuple

print(a)
print(b)
print(c)

1
Hello
3.14

In [126]:
## Unpacking with *

numbers=(1,2,3,4,5,6,7,8,9,10,11,12,13,14)
first,*middle,last=numbers
print(first)
print(middle)  ### * will take all numbers from 2nd untill second last element
print(last)

1
[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]
14

In [ ]:
## Nested Tuple 
## Nested List
lst = [ [1,2,3,4],[5,6,7,8,9], [1,"Hello",3.14,"c"]]
lst[0][2]
lst[0][0:3]

[1, 2, 3]

In [129]:

lst = [ [1,2,3,4],[5,6,7,8,9], [1,"Hello",3.14,"c"]]

lst[2][0:3]

[1, 'Hello', 3.14]

In [131]:
nested_tuple = ((1,2,3),("a","b", "c"),(True, False))

## access the elements inside a tuple

print(nested_tuple[0])
print(nested_tuple[1][2])

(1, 2, 3)
c

In [135]:
## iterating over nested tuples

for sub_tuple in nested_tuple:
    for item in sub_tuple:
        print(item,end=" ")
    print()

1 2 3
a b c
True False

Tuples are versatile and useful in many real world scenarios where an immutable and ordered collection of items is required. They are commonly used in data structures, function arguments and return values, and as dictionary keys. Understanding how to leverage tuples effectively can improve the efficiency and readability of your python code.