Tuples are orders collections of items that are immutable . They are similar to lists, but thier immutability makes them different.

In [99]:
## creating a tuple

empty_tuple=()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [100]:
lst=list()
print(type(lst))
tpl=tuple()
print(type(tpl))

<class 'list'>
<class 'tuple'>

In [101]:
numbers=tuple([1,2,3,4,5,6])
numbers

(1, 2, 3, 4, 5, 6)

In [102]:
list((1,2,3,4,5,6))

[1, 2, 3, 4, 5, 6]

In [103]:
mixed_tuple=(1,"Hello World", 3.14, True)
print(mixed_tuple)

(1, 'Hello World', 3.14, True)

In [104]:
## Access Tuple Elements

numbers

(1, 2, 3, 4, 5, 6)

In [105]:
numbers[0]
print(numbers[2])
print(numbers[-1])

3
6

In [106]:
numbers[::-1]

(6, 5, 4, 3, 2, 1)

In [107]:
## Tuple Operations 

concatenation_tuple=numbers + mixed_tuple
print(concatenation_tuple)

(1, 2, 3, 4, 5, 6, 1, 'Hello World', 3.14, True)

In [108]:
mixed_tuple * 3

(1,
 'Hello World',
 3.14,
 True,
 1,
 'Hello World',
 3.14,
 True,
 1,
 'Hello World',
 3.14,
 True)

In [109]:
numbers * 3

(1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)

In [110]:
## Immutable nature of tuples

## Tuples are immutable, meaning thier elements cannot be changes once assigned. 


lst=[1,2,3,4,5]
print(lst)

lst[1]="Nachiket"
print(lst)

[1, 2, 3, 4, 5]
[1, 'Nachiket', 3, 4, 5]

In [111]:
numbers[1]="Rocky"

TypeError: 'tuple' object does not support item assignment

In [ ]:
numbers

(1, 2, 3, 4, 5, 6)

In [ ]:
## Tuple Method
print(numbers.count(1))

1

In [ ]:
## Tuple Methods 

print(numbers.count(1))
print(numbers.index(3))

1
2

In [ ]:
## Packing and unpacking tuple

packed_tuple=1,"Hello",3.14
print(packed_tuple)

(1, 'Hello', 3.14)

In [ ]:
## Unpacking a tuple 
a,b,c=packed_tuple

print(a)
print(b)
print(c)

1
Hello
3.14

In [ ]:
## Unpacking with *

numbers