Dictionary is ordered collection of item. They store data in key-value pairs. Keys must be unique andi,,utab;e(eg. string, number, tuples), while values can be of any type.

In [88]:
#creating dictionaries
empty_dict={}
print(type(empty_dict))

<class 'dict'>

In [89]:
empty_dict=dict()
empty_dict

{}

In [90]:
student={"name":"Krish","age":32, "grade":24}
print(student)
print(type(student))

{'name': 'Krish', 'age': 32, 'grade': 24}
<class 'dict'>

In [91]:
student={"name":"Krish","age":32, "name":24}
print(student)

{'name': 24, 'age': 32}

In [92]:
student={"name":"Krish","age":32, "grade":'A'}
print(student)

{'name': 'Krish', 'age': 32, 'grade': 'A'}

In [93]:
print(student['grade'])
print(student['age'])

# Acessing using get() method

print(student.get('grade'))
print(student.get('age'))
print(student.get('last_name',"Not Avaliable"))

A
32
A
32
Not Avaliable

In [94]:
## Modifying Dictionary Elements
## Dictionary are mutable, so you can add, update or delete elements

print(student)

{'name': 'Krish', 'age': 32, 'grade': 'A'}

In [95]:
student["age"]=33 ##update value for the key 
print(student)
student["address"]="India" ## added a new key and value
print(student)

{'name': 'Krish', 'age': 33, 'grade': 'A'}
{'name': 'Krish', 'age': 33, 'grade': 'A', 'address': 'India'}

In [96]:
del student['grade']## delete key and value pair
print(student)

{'name': 'Krish', 'age': 33, 'address': 'India'}

In [97]:
## Dictionary methods

keys=student.keys() ##get all the keys
print(keys)
values=student.values()
print(values)


items=student.items() ##get all key value pairs
print(items)

dict_keys(['name', 'age', 'address'])
dict_values(['Krish', 33, 'India'])
dict_items([('name', 'Krish'), ('age', 33), ('address', 'India')])

In [98]:
## Shallow copy
student
student_copy=student
print(student)
print(student_copy)

{'name': 'Krish', 'age': 33, 'address': 'India'}
{'name': 'Krish', 'age': 33, 'address': 'India'}

In [99]:
student["name"]="krish2"
print(student)
print(student_copy)

{'name': 'krish2', 'age': 33, 'address': 'India'}
{'name': 'krish2', 'age': 33, 'address': 'India'}

In [100]:
student_copy1=student.copy() ### shallow copy
print(student_copy1)
print(student)

{'name': 'krish2', 'age': 33, 'address': 'India'}
{'name': 'krish2', 'age': 33, 'address': 'India'}

In [101]:
student["name"]="krish3"
print(student_copy1)
print(student)

{'name': 'krish2', 'age': 33, 'address': 'India'}
{'name': 'krish3', 'age': 33, 'address': 'India'}

In [102]:
## Iterating over dictionaries
## We can use loops to iterate over dictionaroes, keys, values, items

## Iterating over keys

for keys in student.keys():
    print(keys)

name
age
address

In [103]:
### Iterate over values
for value in student.values():
    print(value)

krish3
33
India

In [104]:
## Iterate over key value pairs
for key,value in student.items():
    print(f"{key}:{value}")

name:krish3
age:33
address:India

In [105]:
## Nested Dictionaries

students={
    "student1":{"name":"Krish","age":32},
    "student2":{"name":"Peter","age":35}
    }
print(students)

{'student1': {'name': 'Krish', 'age': 32}, 'student2': {'name': 'Peter', 'age': 35}}

In [106]:
## Access nested dictionaries elements
print(students["student2"]["name"])
print(students["student2"]["age"])

Peter
35

In [107]:
students.items()

dict_items([('student1', {'name': 'Krish', 'age': 32}), ('student2', {'name': 'Peter', 'age': 35})])

In [109]:
## Iterating over nested doctionaroes
for student_id,student_info in students.items():
    print(f"{student_id}:{student_info}")
    for key,value in student_info.items():
        print(f"{key}:{value}")

student1:{'name': 'Krish', 'age': 32}
name:Krish
age:32
student2:{'name': 'Peter', 'age': 35}
name:Peter
age:35